@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@font-face {
    font-family: 'OnePieceFont';
    src: url('one_piece_font.ttf');
}


* {
    padding: 0;
    margin: 0;
    font-family: 'OnePieceFont';
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    height: 100vh;
    width: 100%;
}

.nav_bar {
    background-color: transparent;
    position: fixed;
    transition: 0.2s;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.nav_bar_texto {
    width: 60vh;
    height: 100%;
    font-size: 25px;
    font-style: normal;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
}   

.nav_bar_img {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
}

.nav_bar_img img {
    width: 11vh;
    height: 9vh;
}

.container2 {
    background-image: url("../Imagens/Inicial2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.container3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container3 img {
    width: 40%;
    height: 27vh;
}   

.container4 {
    display: flex;
    flex-direction: row;
    gap: 7vh;
}

.container5 {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 3px #FF6347;
    color: white;
    border-radius: 15px;
    width: 23vh;
    height: 21vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

.container5:hover {
    background-color: rgb(34, 109, 163);
}

.container5 img {
    width: 15vh;
    height: 14vh;
}

#caveira {
    width: 15vh;
    height: 13vh;
}

.container6 {
    background-image: url("../Imagens/Mugiwaras.jpg");   
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container7 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container7 img {
    height: 70%;
    width: 70%;
}

.container8 {
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container9 {
    height: 100%;
    width: 70%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Poetsen One';
}