@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@font-face {
    font-family: 'OnePieceFont';
    src: url('one_piece_font.ttf');
}


* {
    padding: 0;
    margin: 0;
    font-family: 'OnePieceFont';
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    height: 100vh;
    width: 100%;
}

.nav_bar {
    background-color: transparent;
    position: fixed;
    transition: 0.2s;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.nav_bar_texto {
    width: 60vh;
    height: 100%;
    font-size: 25px;
    font-style: normal;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
}   

.nav_bar_img {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
}

.nav_bar_img img {
    width: 11vh;
    height: 9vh;
}

.container2 {
    background-image: url("../Imagens/Inicial2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.container3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container3 img {
    width: 40%;
    height: 27vh;
}   

.container4 {
    display: flex;
    flex-direction: row;
    gap: 7vh;
}

.container5 {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 2px white;
    color: white;
    border-radius: 15px;
    width: 23vh;
    height: 21vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

.container5:hover {
    background-color: #498fc9;
}

.container5 img {
    width: 15vh;
    height: 14vh;
}

#caveira {
    width: 15vh;
    height: 13vh;
}

.container6 {
    background-image: url("../Imagens/Mugiwaras.jpg");   
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container7 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container7 img {
    height: 70%;
    width: 75%;
}

.container8 {
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container9 {
    height: 100%;
    width: 70%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Poetsen One';
}

.container10 {
    background-image: url("../Imagens/img_favoritos/wallpaper2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.container11 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.wrapper {
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_fav {
    height: 55vh;
    display: flex;
    justify-content: start;
}

.card {
    width: 11vh;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 90%;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: white;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 80vh;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Imagens/img_favoritos/luffy.jpg');
}
.card[for="c2"] {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Imagens/img_favoritos/zoro.jpg');
}
.card[for="c3"] {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Imagens/img_favoritos/law.jpg');
}
.card[for="c4"] {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Imagens/img_favoritos/oden.jpg');
}
.card[for="c5"] {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Imagens/img_favoritos/barba_branca.jpg");
}